# macOS files
.DS_Store

# VS Code settings
.vscode/

# Build output and debug symbols
output/
*.dSYM/
*.yml

# Executable files created by compiling C programs
*.out
sensor_app
bit_operations
static_vs_local
volatile_flag
reverse_array
